<div class="dashboard-container fill">

    <div class="col-md-2 col-xs-3 dashboard-nav fill">
        <div class="row">
            <a href="/dashboard"><img class="col-sm-12 logo" src="/assets/asdn.png" alt="logo"></a>    
        </div>

        <hr class="row col-xs-12">

        <div class="clearfix"></div>

        <div class="row top-nav">
            <nav class="navbar" role="navigation">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a class="white" href="#"><i class="fa fa-tachometer fa" aria-hidden="true"></i> DASHBOARD</a>
                        </li>
                        <li>
                            <a class="white" href="#"><i class="fa fa-sitemap fa" aria-hidden="true"></i> NETWORK</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="row bottom-nav col-xs-12 nopadding">
            <nav class="navbar" role="navigation">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                    <li class="">
                        <a class="white" href="#"> <i class="fa fa-question-circle-o fa" aria-hidden="true"></i> HELP</a>
                    </li>
                    <li>
                        <a class="white" href="#"> <i class="fa fa-user fa" aria-hidden="true"></i> ACCOUNT</a>
                    </li>
                    <li class="">
                        <a class="white" href="#"> <i class="fa fa-gear fa" aria-hidden="true"></i> SETTINGS</a>
                    </li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>

    <div class="col-md-10 col-xs-9 dashboard-screen">
        
        <div class="row">
            <div class="centered-dash">
                <div class="row main devices-container">
                    <hr class="row col-xs-12 top-bar">
                    <div class="row heading text-centered white">
                        <h3>Device Availability</h3>
                    </div>
                    <div class="row">
                        <div id="chart_div"></div>
                    </div>
                </div>

                <div class="row main network-container">
                    <hr class="row col-xs-12 top-bar">
                    <div class="row heading text-centered white">
                        <h3>Network Activity</h3>
                    </div>
                    <div class="row">

                    </div>
                </div>

                <div class="row main configuration-container">
                    <hr class="row col-xs-12 top-bar">
                    <div class="row heading text-centered white">
                        <h3>Configuration Changes</h3>
                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>