<div class="dashboard-container fill">

    <app-nav></app-nav>

    <div class="col-md-10 col-xs-9 dashboard-screen">
        
        <div class="row">
            <div class="centered-dash">
                <div class="row main devices-container">
                    <hr class="row col-xs-12 top-bar">
                    <div class="row heading text-centered white">
                        <h3>Device Availability</h3>
                    </div>
                    <div class="row">
                        <div id="siteOne"></div>
                    </div>
                    <div class="row">
                        <div id="siteTwo"></div>
                    </div>
                </div>

                <div class="row main network-container">
                    <hr class="row col-xs-12 top-bar">
                    <div class="row heading text-centered white">
                        <h3>Network Activity</h3>
                    </div>
                    <div class="row">

                    </div>
                </div>

                <div class="row main configuration-container">
                    <hr class="row col-xs-12 top-bar">
                    <div class="row heading text-centered white">
                        <h3>Configuration Changes</h3>
                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>