body {
    background-color: lightgray; 
    background-image: none;
}

.dashboard-container {
    width: 100%;
}

/*--- Dashboard ---*/

.dashboard-screen {
    margin-top: 5%;
    float: right;
}

.heading {
    background-color: #607d8b;
}

.centered-dash {
    margin: 0 auto;
    width: 75%;
}

.devices-container, .activity-container, .configuration-container{
    margin-bottom: 50px;
}

.avail-chart {
    width: 50%;
    height: 300px;
    float: left;
    overflow: hidden;
}

.raphael-group-8-creditgroup, .raphael-group-3-creditgroup, .raphael-group-18-creditgroup, .raphael-group-13-creditgroup, .raphael-group-23-creditgroup  {
    display: none !important;
}

.activ-chart {
    width: 100%;
    float: left;
    overflow: hidden;
}

.config-changes {
    height: 300px;
}

.config-heading {
    background-color: #8aa0ab;
    border: solid 1px lightgray;
}

.config-container {
    background-color: white;
    overflow-x: auto;
    overflow-y: auto;
    height: 500px;
    border: solid 1px lightgray;
}

.btn-device {
    border-radius: 0;

}
