<app-wizzard></app-wizzard>

<!-- Dashboard -->
<div class="dashboard-container fill">
    

    <app-nav></app-nav>

    <div class="col-md-10 col-xs-9 dashboard-screen">
        <div class="row">
            <div class="centered-dash">                   
                <div class="row main devices-container">
                    <hr class="row col-xs-12 top-bar">
                    <div class="row heading text-centered white">
                        <h3>Device Availability</h3>
                    </div>
                    <div class="row">
                        <fusioncharts class="avail-chart"
                            width="100%"
                            height="300"
                            type="pie2d"
                            dataFormat="JSON"
                            [dataSource]="dataSource"
                        ></fusioncharts>
                        <fusioncharts class="avail-chart"
                            width="100%"
                            height="300"
                            type="pie2d"
                            dataFormat="JSON"
                            [dataSource]="dataSource"
                        ></fusioncharts>
                    </div>
                    <div class="row">
                        <fusioncharts class="avail-chart"
                            width="100%"
                            height="300"
                            type="pie2d"
                            dataFormat="JSON"
                            [dataSource]="dataSource"
                        ></fusioncharts>
                        <fusioncharts class="avail-chart"
                            width="100%"
                            height="300"
                            type="pie2d"
                            dataFormat="JSON"
                            [dataSource]="dataSource"
                        ></fusioncharts>
                    </div>
                </div>

                <div class="row activity-container">
                    <hr class="row col-xs-12 top-bar">
                    <div class="row heading text-centered white">
                        <h3>Network Activity</h3>
                    </div>
                    <div class="row">
                        <fusioncharts class="activ-chart"
                            width="100%"
                            height="300"
                            type="line"
                            dataFormat="JSON"
                            [dataSource]="lineDataSource"
                        ></fusioncharts>
                    </div>
                </div>

                <div class="row main configuration-container">
                    <hr class="row col-xs-12 top-bar">
                    <div class="row heading text-centered white">
                        <h3>Configuration Changes</h3>
                    </div>
                    <div class="row config-changes">
                        <div class="col-xs-2">
                            <div class="row white text-centered config-heading">
                                <h3>Select device:</h3>
                            </div>
                            <div class="row config-container">
                                <div *ngFor="let device of devices; let i = index">
                                    <button class="btn btn-primary btn-lg btn-block btn-device" (click)="showConfig(i)" >{{ device.name }}</button> 
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="row white text-centered config-heading">
                                <h3>Last version:</h3>
                            </div>
                            <div class="row config-container">
                                <pre>{{oldConfig}}</pre>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="row white text-centered config-heading">
                                <h3>Current version:</h3>
                            </div>
                            <div class="row config-container">
                                <pre>{{newConfig}}</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>