<app-wizzard></app-wizzard>

<!-- Dashboard -->
<div class="dashboard-container fill">
    

    <app-nav></app-nav>

    <div class="col-md-10 col-xs-9 dashboard-screen">
        <div class="row">
            <div class="centered-dash">                   
                <div class="row main devices-container">
                    <hr class="row col-xs-12 top-bar">
                    <div class="row heading text-centered white">
                        <h3>Device Availability</h3>
                    </div>
                    <div class="row">
                        <div class="avail-chart" name="siteOne" id="siteOne"></div>
                        <div class="avail-chart" id="siteTwo"></div>
                    </div>
                    <div class="row">
                        <div class="avail-chart" id="siteThree"></div>
                        <div class="avail-chart" id="siteFour"></div>
                    </div>
                </div>

                <div class="row">
                    <hr class="row col-xs-12 top-bar">
                    <div class="row heading text-centered white">
                        <h3>Network Activity</h3>
                    </div>
                    <div class="row">
                        <div class="activ-chart" id="deviceOne"></div>
                        <div class="activ-chart" id="deviceTwo"></div>
                    </div>
                </div>

                <div class="row main configuration-container">
                    <hr class="row col-xs-12 top-bar">
                    <div class="row heading text-centered white">
                        <h3>Configuration Changes</h3>
                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>