body {
    background-color: lightgray; 
    background-image: none;
}

.dashboard-container {
    width: 100%;
}

/*--- Settings ---*/

.dashboard-screen {
    margin-top: 5%;
    float: right;
}

.heading {
    background-color: #607d8b;
}

.centered-dash {
    margin: 0 auto;
    width: 75%;
}

.panel-body {
    background-color: white; 
}

.settings-btn {
    width: 25%;
    height: 40px;
    border: none;
    background-color: #00bcd4; 
    padding: 0px 5px;
}