body {
    background-color: lightgray; 
    background-image: none;
}

.dashboard-container {
    width: 100%;
}

/*--- Dashboard ---*/

.dashboard-screen {
    margin-top: 5%;
    float: right;
}

.heading {
    background-color: #607d8b;
}

.centered-dash {
    margin: 0 auto;
    width: 75%;
}