@import url(http://fonts.googleapis.com/css?family=Roboto);

/* Login and Register Page */
.restrict {
  max-width: 100%;
}

.g-recaptcha { 
  padding-top: 15px;
  display: inline-block;
}

.fa {
  color: #2e6da4;
}

.mission-stetement {
  color: white;
  font-style: italic;
  font-size: 1.1em;
  padding-top: 20px;
}

.main{
  margin-top: 40px;
}

.form-group{
 margin-bottom: 15px;
}

label{
 margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
 font-size: 11px;
 padding-top: 3px;
}

.main-login{
  background-color: #607d8b;
  padding: 0px;
 -moz-border-radius: 2px;
 -webkit-border-radius: 2px;
 border-radius: 2px;
 -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
 -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
 box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 margin-top: 30px;
 padding: 10px 40px;

}

.login-button{
 margin-top: 10px;
 margin-bottom: 5px;
 width: 50%;
 background-color: #00bcd4;
 border-radius: 2px;
}

.login-register{
 font-size: 11px;
 text-align: center;
}

.login-nav {
  color: white;
  background-color: #00bcd4;
  border: 0;
  border-radius: 0;
}

.nav-margin {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Forgot Password Popup */
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.loginmodal-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
}

.loginmodal-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 