<div class="dashboard-container fill">
  <app-nav></app-nav>

  <div class="col-md-10 col-xs-9 dashboard-screen">
        
    <div class="row">
        
        <div class="container">
            
            <div class="clearfix"></div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading panel-title" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Network Map
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div id="mynetwork"></div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel    -title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Interface Status
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body text-centered">
                            <div class="device">    
                                <h3>{{deviceName}}</h3>

                                <span class="port-iter" *ngFor="let interface of interfaceList; let i = index">
                                    <br *ngIf="i % 8 == 0">
                                    <div class="port-container">
                                        <img class="device-port" alt="port-{{interface.name}}" src="/assets/{{interface.portStatus}}.png">
                                        <p>{{interface.name}}</p>
                                    </div>
                                    <div class="middle">
                                        <div class="text">{{interface.portStatus}}</div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                Routing Status
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">

                            <div class="avail-chart" name="routingStatus" id="routingStatus">
                                    <fusioncharts class="activ-chart"
                                    width="100%"
                                    height="300"
                                    type="pie2d"
                                    dataFormat="JSON"
                                    [dataSource]="routeDataSource"
                                ></fusioncharts>
                            </div>

                            <div class="col-md-6">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Route Number</th>
                                            <th scope="col">Source</th>
                                            <th scope="col">Destionation</th>
                                            <th scope="col">Interface</th>
                                            <th scope="col">Type</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let route of routeList; let i = index">
                                        <tr>
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{route.source}}</td>
                                            <td>{{route.destination}}</td>
                                            <td>{{route.interfaces}}</td>
                                            <td>{{route.type}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                Layer 2 and VLAN Status
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">

                            <div class="avail-chart" name="vlanStatus" id="vlanStatus">
                                    <fusioncharts class="activ-chart"
                                    width="100%"
                                    height="300"
                                    type="pie2d"
                                    dataFormat="JSON"
                                    [dataSource]="lanDataSource"
                                ></fusioncharts>
                            </div>
                            
                            <div class="col-md-6">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Number</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Tag</th>
                                            <th scope="col">Interfaces</th>
                                            <th scope="col">QoS</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let vlan of lanList; let i = index">
                                        <tr>
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{vlan.name}}</td>
                                            <td>{{vlan.tag}}</td>
                                            <td>{{vlan.interfaces}}</td>
                                            <td>{{vlan.qos}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                Security and Services Status
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            <div class="avail-chart" name="securityStatus" id="securityStatus">
                                    <fusioncharts class="activ-chart"
                                    width="100%"
                                    height="300"
                                    type="pie2d"
                                    dataFormat="JSON"
                                    [dataSource]="serviceDataSource"
                                ></fusioncharts>
                            </div>
                            <div class="col-md-6">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Number</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Traversing</th>
                                            <th scope="col">Source Address</th>
                                            <th scope="col">Destination Address</th>
                                            <th scope="col">Application</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let sec of serviceList; let i = index">
                                        <tr>
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{sec.name}}</td>
                                            <td>{{sec.traversing}}</td>
                                            <td>{{sec.srcAddress}}</td>
                                            <td>{{sec.dstAddress}}</td>
                                            <td>{{sec.application}}</td>
                                            <td>{{sec.action}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>