<div class="col-md-2 col-xs-3 dashboard-nav navbar-fixed-left fill">
  <div class="row">
      <a href="/dashboard"><img class="col-xs-12 logo" src="/assets/asdn.png" alt="logo"></a>    
  </div>

  <hr class="row col-xs-12">

  <div class="clearfix"></div>

  <div class="row top-nav">
      <nav class="navbar" role="navigation">
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li class="active">
                      <a class="white" href="/dashboard"><i class="fa fa-tachometer fa" aria-hidden="true"></i> DASHBOARD</a>
                  </li>
                  <li>
                      <a class="white" href="/network"><i class="fa fa-sitemap fa" aria-hidden="true"></i> NETWORK</a>
                  </li>
              </ul>
          </div>
      </nav>
  </div>

  <div class="row bottom-nav col-xs-12 nopadding">
      <nav class="navbar" role="navigation">
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
              <li class="">
                  <a class="white" href="/help"> <i class="fa fa-question-circle-o fa" aria-hidden="true"></i> HELP</a>
              </li>
              <li class="">
                  <a class="white" href="/settings"> <i class="fa fa-gear fa" aria-hidden="true"></i> SETTINGS</a>
              </li>
              <li class="">
                  <a class="white" (click)="logoutUser()"> <i class="fa fa-sign-out fa" aria-hidden="true"></i> LOG OUT </a>
              </li>
              </ul>
          </div>
      </nav>
  </div>
</div>