body {
    background: url("/assets/background.png") no-repeat center center fixed;
    background-size: cover;
}

[hidden] { display: none !important;}

.nopadding {
    padding: 0 !important;
}

.nomargin {
    margin: 0 !important; 
}

input, .input-group-addon {
    border-radius: 0 !important;
}

.text-centered{
    text-align: center;
}

.centered {
    margin: 0 auto;
    width: 50%;
}

.white {
    color: white;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.top-bar {
    color: #00bcd4; 
    background-color: #00bcd4;
    border: none;
    height: 10px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

input[type=password] {
    height: 34px !important;
}

a:hover, a:active, a:visited, a:after, a:link, a:focus {
    text-decoration: none !important;
}