/*--- Setup Wizzard---*/
.modal-container {
    background-color: #607d8b;
}

.setup-logo {
    margin-top: 15px;
    margin-bottom: 50px;
}

.modal-head {
    margin: 10px 20px;
}

.modal-text {
    margin: 30px 50px;
    font-size: 1.2em;
}

#ikeModal .modal-dialog{
    width: 500px;
}

#ipsecModal .modal-dialog{
    width: 500px;
}

.modal-ike-text {
    margin: 40px 60px;
}

.login-button{
    margin-bottom: 15px;
    width: 50%;
    background-color: #00bcd4;
    border-radius: 2px;
   }