<!--Welcome Screen-->
<div class="modal fade" id="welcomeModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modal-container">
            <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-head text-centered">
                    <h1 class="white">Setup Wizard</h1>
                    <img class="col-xs-12 setup-logo" src="/assets/asdn.png" alt="logo">
                    <h3 class="white">Let's Get Started</h3>
                </div>
                <div class="modal-text">
                    <p class="white">For the application to work correctly, you must first set up a VPN connection to the network which is to be managed. </p>
                    <p class="white">If you require any assistance with this process, please read our VPN Setup Guide <a class="white" href="https://www.juniper.net/documentation/en_US/junos/topics/concept/vpn-types.html"><b>here</b></a>. </p>
                </div>
            </div>

            <div class="modal-btns text-centered">
                
                <button id="ikeNext" type="button" class="btn btn-primary btn-lg btn-block login-button centered" data-dismiss="modal">Next</button>
            </div>
        </div>
    </div>
</div>

<!--Remote Connection - IKE-->
<div class="modal fade" id="ikeModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modal-container">
            <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-head text-centered">
                    
                    <h2 class="white">
                        <i class="fa fa-globe"></i>
                        Remote Connection - IKE
                    </h2>
                </div>
                <div class="modal-ike-text">

                    <form class="form-horizontal" id="ike-form">
                        
                        <div class="form-group">				
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-exchange"></i></span>
                                <input type="text" class="form-control" name="publicAddress" placeholder="Your Public VPN Address">       
                            </div>
                        </div>

                        <div class="form-group">				
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-exchange"></i></span>
                                <input type="text" class="form-control" name="privateAddress" placeholder="Your Private Address / (CIDR)">       
                            </div>
                        </div>

                        <div class="form-group">				
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-exchange"></i></span>
                                <select name="ikeAA" id="ikeAA" class="form-control">
                                    <option value="" selected disabled>IKE Authentication Algorithm</option>
                                    <option value="md5">MD5</option>
                                    <option value="sha1">SHA1</option>
                                    <option value="sha-254">SHA-254</option>
                                    <option value="sha-348">SHA-384</option>
                                </select>
                            </div>                   
                        </div>

                        <div class="form-group">				
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                <select name="ipsecEA" id="ipsecEA" class="form-control">
                                    <option value="" selected disabled>IPsec Encryption Algorithm</option>
                                    <option value="3des-cbc">3DES-cbc</option>
                                    <option value="aes-128-cbc">AES-128-cbc</option>
                                    <option value="aes-192-cbc">AES-192-cbc</option>
                                    <option value="aes-256-cbc">AES-256-cbc</option>
                                    <option value="des-cbc">DES-cbc</option>
                                </select>
                            </div>                   
                        </div>

                        <div class="form-group">				
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                <select name="dh" id="dh" class="form-control">
                                    <option value="" selected disabled>DH Group</option>
                                    <option value="1">Group 1</option>
                                    <option value="2">Group 2</option>
                                    <option value="5">Group 5</option>
                                    <option value="19">Group 19</option>
                                    <option value="20">Group 20</option>
                                    <option value="21">Group 24</option>
                                </select>
                            </div>                   
                        </div>

                        <div class="form-group">				
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-exchange"></i></span>
                                <input type="number" class="form-control" name="ikeLife" placeholder="IKE Lifetime seconds">         
                            </div>
                        </div>

                        <div class="form-group">				
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-exchange"></i></span>
                                <input type="password" class="form-control" name="ikeSecret" placeholder="IKE Pre-shared Secret (ASCII) ">       
                            </div>
                        </div>

                        <div class="form-group">				
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                <select name="ikeVer" id="ikeVer" class="form-control">
                                    <option value="" selected disabled>IKE Version</option>
                                    <option value="1">IKEv1</option>
                                    <option value="2">IKEv2</option>
                                </select>
                            </div>                   
                        </div>

                        <div class="modal-btns text-centered">
                            <button id="ipsecNext" type="button" class="btn btn-primary btn-lg btn-block login-button centered" data-dismiss="modal">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Remote Connection - IPsec-->
<div class="modal fade" id="ipsecModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modal-container">
            <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-head text-centered">
                    
                    <h2 class="white">
                        <i class="fa fa-globe"></i>
                        Remote Connection - IPsec
                    </h2>
                </div>
                <div class="modal-ike-text">

                    <form class="form-horizontal" id="ipsec-form">                

                        <div class="form-group">				
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-exchange"></i></span>
                                <select name="ikeAuth" id="ikeAuth" class="form-control">
                                    <option value="" selected disabled>Authentication Algorithm</option>
                                    <option value="hmac-sha1-96">hmac-sha1-96</option>
                                    <option value="hmac-sha-256-128">hmac-sha-256-128</option>
                                    <option value="hmac-sha-256-96">hmac-sha-256-96</option>
                                    <option value="hmac-md5-96">hmac-md5-96</option>
                                </select>
                            </div>                   
                        </div>

                        <div class="form-group">				
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                <select name="ipsecAuth" id="ipsecAuth" class="form-control">
                                    <option value="" selected disabled>IPsec Encryption Algorithm</option>
                                    <option value="3-des-cbc">3-DES-cbc</option>
                                    <option value="aes-128-cbc">AES-128-cbc</option>
                                    <option value="aes-192-cbc">AES-192-cbc</option>
                                    <option value="aes-256-cbc">AES-256-cbc</option>
                                    <option value="des-cbc">DES-cbc</option>
                                    <option value="aes-128-gcm">AES-128-gcm</option>
                                    <option value="aes-192-gcm">AES-192-gcm</option>
                                    <option value="aes-256-gcm">AES-256-gcm</option>
                                </select>
                            </div>                   
                        </div>

                        <div class="form-group">				
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-exchange"></i></span>
                                <input type="number" class="form-control" name="ipsecLife" placeholder="IPsec Lifetime seconds">       
                            </div>
                        </div>

                        <div class="form-group">				
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-exchange"></i></span>
                                <select name="ipsecPFS" id="ipsecPFS" class="form-control">
                                    <option value="" selected disabled>IPsec Perfect Forward Secrecy</option>
                                    <option value="1">Group 1</option>
                                    <option value="2">Group 2</option>
                                    <option value="5">Group 5</option>
                                    <option value="14">Group 14</option>
                                    <option value="19">Group 19</option>
                                    <option value="20">Group 20</option>
                                    <option value="24">Group 24</option>
                                </select>
                            </div>
                        </div>

                        <div class="modal-btns text-centered">
                            <button id="vpnConfig" type="button" class="btn btn-primary btn-lg btn-block login-button centered" data-dismiss="modal">Finish</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Connection - Failed-->
<div class="modal fade" id="error" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modal-container">
            <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-head text-centered">
                    
                    <h2 class="white">
                        <i class="fa fa-globe"></i>
                        Could not establish VPN
                    </h2>
                </div>
                <div class="modal-ike-text">
                    <div class="modal-btns text-centered">
                        <button id="vpnConfig" type="button" class="btn btn-primary btn-lg btn-block login-button centered" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>