body {
    background-color: lightgray; 
    background-image: none;
}

.dashboard-container {
    width: 100%;
}

/*--- Dashboard ---*/

.dashboard-screen {
    margin-top: 5%;
    float: right;
}

.heading {
    background-color: #607d8b;
}

.centered-dash {
    margin: 0 auto;
    width: 75%;
}

.help-container1 {
    background-color: white;
    height: 850px;
    padding: 10px 50px;
}

.help-container2 {
    background-color: white;
    height: 300px;
    padding: 10px 50px;
}